.map {
    margin: 70px 0;
    .container_hint{
        padding: 10px;
        border: 1px solid;
        background: #ffffff;
        border-radius: 10px;
    }
    .map__wrapper {
        display: flex;

        .map__info {
            width: 0px;
            transition: width 0.5s ease;

            .info__container {
                .info__header {
                    display: flex;
                    justify-content: space-between;
                }

                .info__body {
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    .info__item {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: all 0.3s ease;
                        cursor: pointer;

                        p {
                            margin: 0;
                        }

                        &:hover {
                            background-color: rgb(203, 203, 203);
                        }

                        &.check_category {
                            background-color: rgb(203, 203, 203);

                            .btn-close {
                                width: 15px;
                                height: 15px;
                                display: block;
                            }
                        }

                        .btn-close {
                            display: none;
                        }
                    }
                }
            }
        }

        .map__window {
            width: 100%;
            transition: width 0.5s ease;

            #map {
                .ymaps3x0--marker:hover {
                    z-index: 3 !important;
                }

                .ymaps3x0--controls {
                    z-index: 4;

                    .ymaps3x0--button {
                        transition: all 0.3s ease;
                        &:hover {
                            background-color: rgb(203, 203, 203);
                        }
                    }
                }

                .ymaps3x0--map-copyrights__user-agreements {
                    font-size: 11px;
                }

                .marker-class {
                    width: 10px;
                    height: 10px;
                    background: red;
                }
                .clusterer-change {
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                }

                .clusterer-change__section {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                .clusterer-change__input__label {
                    font-size: 18px;
                }

                .clusterer-change__input {
                    max-width: 75px;
                    height: 100%;

                    font-size: 16px;
                    text-align: center;

                    border: 2px solid rgba(0, 122, 252, 0.6);
                    border-radius: 5px;
                    font-size: 16px;
                    outline: none;
                    transition: border-color 0.2s ease;
                }

                .clusterer-change__input:hover,
                .clusterer-change__input:active {
                    border-color: rgba(0, 122, 252, 0.9);
                }

                .clusterer-change__btn {
                    border: none;
                    cursor: pointer;

                    padding: 7px 10px;

                    color: rgb(255, 255, 255);
                    font-size: 16px;

                    background-color: rgba(0, 122, 252, 0.9);
                    border-radius: 10px;
                    transition: background-color 0.2s;
                }

                .clusterer-change__btn:hover {
                    background-color: rgb(0, 110, 252);
                }

                .clusterer-change__btn:active {
                    background-color: rgb(0, 122, 252);
                }

                .circle {
                    position: relative;

                    width: 40px;
                    height: 40px;

                    color: #7234c3;
                    border: 2px solid currentColor;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.7);

                    transform: translate(-50%, -50%);
                }

                .circle-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 70%;
                    height: 70%;

                    border-radius: 50%;
                    background-color: currentColor;

                    transform: translate3d(-50%, -50%, 0);
                }

                .circle-text {
                    font-size: 12px;
                    color: #fff;
                }

                .pin {
                    transform: translate(-50%, -100%);
                }

                .address_check {
                    border: 1px solid #e9edf4;
                    border-top: 0;
                    width: 96.3%;
                    margin-left: 4.8px;
                }
                .container_item {
                    width: 100%;
                    cursor: pointer;
                    padding: 10px;
                    box-sizing: border-box;

                    &:hover {
                        background-color: #e9edf4;
                    }
                }
                .marker {
                    width: 27px !important;
                    height: 32px !important;
                    display: block !important;
                    bottom: 0px;
                    z-index: 2;
                    position: absolute !important;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .marker_default {
                    font-size: 32px;
                    color: red;
                    position: absolute;
                    bottom: 0px;
                }

                .fa-map-marker-alt {
                    width: 27px;
                    height: 32px;
                    position: absolute;
                    bottom: 0px;
                    font-size: 32px;
                    color: red;
                    z-index: 2;
                }

                .container_marker {
                    position: relative;
                    display: flex;
                    justify-content: center;
                }
                .category_map_btn {
                    top: 45px;
                }

                .category_item {
                    padding: 5px 10px;
                    cursor: pointer;
                    border-bottom: 1px solid #e9edf4;

                    &:hover {
                        background-color: #e8fafd;
                    }

                    &:last-child {
                        border-bottom: none !important;
                    }
                }
                .check_category {
                    background-color: #42ccfd !important;
                }

                .type_map_btn {
                    top: 68px !important;
                }
                .marker__container {
                    position: relative;
                }

                .container_marker {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                }

                .marker__info {
                    width: 400px;
                    border: 1px solid;
                    position: absolute;
                    left: 2px;
                    bottom: 20px;
                    background-color: white;
                    border-radius: 10px;
                    padding: 10px;
                    z-index: 1;
                }

                .marker__title {
                    font-weight: 700;
                }

                .marker__close-button {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    color: #d5d6d6;
                }

                .marker__close-button:hover {
                    color: red;
                }
            }
        }
    }
    .map__data {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .data__category {
            .data__items {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;

                .item {
                    padding: 15px;
                    background-color: white;
                    border-radius: 7px;
                    transition: all 0.3s ease;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(203, 203, 203);
                    }

                    .item__marker {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .marker__title {
                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
